extends layout

append head

append body
    script(src='javascripts/scripts-settings.js')


block content
    .jumbotron.jumbotron-fluid
        .container
            h1= title
            br
            p Utente loggato:
                span.logged_user= loggedUser.username
            p
    .container
        #alertSection
        textarea#textareaSettings= JSON.stringify(JSON.parse(settings), null, 2)
        button#saveSettings.btn.btn-success.btn-lg Salva